body
{
    background:linear-gradient( #e66465, #f69d3c, #9198e5);
}

*
{
    font-family:verdana;font-size:25px;
}

.centro
{
    text-align:center;
}

.menu li
{
    background-color:rgb(245, 240, 214);
    color:rgb(87, 87, 87);
    border:3px dashed orange;
    display:inline;
    padding-left:50px;
    padding-right:50px;
}

.titulo
{
    font-family:verdana;
    font-size:28px;
    font-weight:bold;
}

a:link
{
    text-decoration:none;
}

a:visited
{
    text-decoration:none;
}

li:hover
{
    text-decoration:underline;
    font-size:30px;
    border-bottom:3px dotted black;
    background-image:linear-gradient(to right, magenta, pink, aqua);
}

a:active
{
    text-decoration:none;
}