

.titulo{font-family:Courier;
    color: black;
    padding: 0px 300px 0px 300px;
    text-align:center;
    background-color: #C7FA73;
    font-size:35px; 
    text-transform:uppercase;}

p{font-family:'Franklin Gothic';
  text-indent: 25px;
  background-color:whitesmoke;
  font-size:32;
  text-align:left;
  padding: 0px 300px 0px 300px;}

h2{font-family:Courier;
    color: black;
    text-transform:uppercase;
    background-color:whitesmoke;
    font-size:32;
    text-align:left;
    padding: 20px 300px 20px 300px;}

*{background-color: whitesmoke ;}

h2 em{color:rgb(88, 45, 199);
      font-weight:bolder;
      text-transform:uppercase;}

.negrito{font-weight:bold;}